<div class="box mb-0 context-container" id="context">
    <div class="container is-flex is-justify-content-center">
        <div class="rss-feed">
            {{ $data := .Site.Data.feed }}
            {{ with $data }}
            <a href="{{ .url | safeURL }}" target="_blank" rel="noopener" class="external-link">
            {{ .title }}
            </a>
            {{ else }}
                <span class="is-italic" style="font-size: 14px;">Latest news will appear here soon.</span>
            {{ end }}
        </div>
    </div>
</div>
