<footer class="footer">
    <div class="container">
        <div class="columns is-desktop">
            <div class="column is-2-desktop">
                <figure class="image is-128x128">
                    <img alt="Kartoza Logo" src="{{ absURL "img/kartoza-logo.png" }}" />
                </figure>
            </div>
            <div class="column mb-6">
                <div class="columns is-desktop">
                    {{- range site.Menus.footer }}
                        <ul class="column mb-5">
                            <li class="is-size-5 mb-5">
                                <a href="{{ .URL }}" class="footertitle text-nowrap">
                                    {{ .Name }}
                                </a>
                            </li>
                            {{- range .Children }}
                                <li class="mb-4">
                                    <a class="has-text-white text-nowrap" href="{{ .URL }}">
                                        {{ .Name }}
                                    </a>
                                </li>
                            {{- end }}
                        </ul>
                    {{- end }}
                </div>
            </div>
        </div>

        <!-- Regional Offices -->
        <div class="footer-regional">
            <div class="footer-offices">
                <div class="footer-office">
                    <h5><i class="fas fa-building mr-2"></i>South Africa</h5>
                    <p>
                        <strong>Kartoza (Pty) Ltd.</strong><br>
                        Cape Town, South Africa<br>
                        <a href="tel:+27218138912">+27 21 813 8912</a><br>
                        <a href="mailto:info@kartoza.com">info@kartoza.com</a>
                    </p>
                </div>
                <div class="footer-office">
                    <h5><i class="fas fa-building mr-2"></i>Europe</h5>
                    <p>
                        <strong>Kartoza LDA</strong><br>
                        Lisbon, Portugal<br>
                        <a href="mailto:europe@kartoza.com">europe@kartoza.com</a>
                    </p>
                </div>
            </div>
            <div class="region-toggle">
                <a href="#" class="region-toggle-btn" data-region-switch="ZA">
                    🇿🇦 <span>South Africa (ZAR)</span>
                </a>
                <a href="#" class="region-toggle-btn" data-region-switch="EU">
                    🇵🇹 <span>Europe (EUR)</span>
                </a>
                <a href="#" class="region-toggle-btn" data-region-switch="INTL">
                    🌍 <span>International (USD)</span>
                </a>
            </div>
        </div>

        <div class="columns is-desktop mt-5">
            <div class="copyright column is-4-desktop has-text-white">
                <p>&copy; {{ now.Year }} Kartoza (Pty) Ltd. &amp; Kartoza LDA</p>
                <p class="is-size-7 has-text-grey-light">Open Source Geospatial Experts</p>
            </div>
            <div class="column social-icons-links">
                <a class="has-text-white" href="https://twitter.com/KartozaGeo" target="_blank" aria-label="Twitter">
                    <i class="fa-brands fa-x-twitter"></i>
                </a>
                <a class="has-text-white" href="https://www.instagram.com/kartozageo/" target="_blank" aria-label="Instagram">
                    <i class="fa-brands fa-instagram"></i>
                </a>
                <a class="has-text-white" href="https://www.facebook.com/kartozaGIS" target="_blank" aria-label="Facebook">
                    <i class="fa-brands fa-square-facebook"></i>
                </a>
                <a class="has-text-white" href="https://www.linkedin.com/company/kartoza-pty-ltd" target="_blank" aria-label="LinkedIn">
                    <i class="fa-brands fa-linkedin"></i>
                </a>
                <a class="has-text-white" href="https://www.github.com/orgs/kartoza" target="_blank" aria-label="GitHub">
                    <i class="fa-brands fa-square-github"></i>
                </a>
                <a class="has-text-white" href="https://www.youtube.com/user/kartozachannel/feed" target="_blank" aria-label="YouTube">
                    <i class="fa-brands fa-youtube"></i>
                </a>
            </div>
        </div>
        <div class="columns is-desktop privacy-links">
            <a href="{{ absURL "policies" }}" class="column is-narrow is-offset-2-desktop">Policies</a>
            <a href="{{ absURL "contact-us" }}" class="column is-narrow">Contact</a>
            <a href="{{ absURL "careers" }}" class="column is-narrow">Careers</a>
        </div>
    </div>
</footer>

