.button.is-primary {
  background: var(--primary);
  border-color: var(--primary);
  color: var(--white);
  font-weight: 700;
}

.button.is-primary:hover {
  background: var(--primary);
  border-color: var(--primary);
}

.button.is-primary.is-outlined {
  background: 0 0;
  border-color: var(--primary);
  color: var(--primary)
}

.button.is-primary.is-outlined:hover {
  background: var(--primary);
  color: var(--white)
}

.button.is-accent {
  background: var(--accent);
  border-color: var(--accent);
  color: var(--white);
  font-weight: 700;
}

.button.is-accent:hover {
  background: var(--accent);
  border-color: var(--accent);
}

.button.is-accent.is-outlined {
  background: 0 0;
  border-color: var(--accent);
  color: var(--accent)
}

.button.is-accent.is-outlined:hover {
  background: var(--accent);
  color: var(--accent)
}

.button.is-light {
  background: rgba(255, 255, 255, 0.15);
  border: 2px solid rgba(255, 255, 255, 0.8);
  color: var(--white);
  font-weight: 600;
}

.button.is-light:hover {
  color: var(--white);
  background: rgba(255, 255, 255, 0.25);
  border-color: var(--white);
}

.button.is-blue {
  background: var(--primary);
  border-color: var(--primary);
}

.button.is-blue:hover {
  background: var(--primary-dark);
  border-color: var(--primary-dark);
}