.notice-yellow {
  background: var(--accent);
  border-color: var(--accent);
  color: white;
}

.blue-left-border-4 {
  border-left: 4px solid var(--primary);
}

.border-width-2 {
  border-width: 2px
}

.fa-check::before {
  color: #4caf50;
}

.full-width {
  width: 100%;
}

.margin-top-1-rem {
  margin-top: 1rem;
}

.has-text-centered {
  text-align: center;
}
.navbar-dropdown {
  padding: 0;
}