.notice-yellow {
  background: var(--accent);
  border-color: var(--accent);
  color: white;
}

.blue-left-border-4 {
  border-left: 4px solid var(--primary);
}

.border-width-2 {
  border-width: 2px
}